{% extends 'base.html' %}
{% block content %}
    <h1>Главная страница</h1>

    {% for post in posts %}

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ post.created }}</h6>
                <p class="card-text">{{ post.content|truncatewords:10 }}</p>
                <a href="{% url 'post-detail' post.id %}" class="card-link">Читать далее</a>

            </div>
        </div>
        <br>

    {% endfor %}


    <a href="{% url 'about-view' %}">О нас</a>
    <a href="{% url 'contacts-view' %}">Контакты</a>
{% endblock %}